{{ if not .Values.django.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lbs.fullname" . }}-secrets
  namespace: lbs{{ .Values.django.env.run_env }}
  labels:
{{ include "lbs.fullname" . | indent 4 }}
type: Opaque
data:
  DJANGO_SECRET_KEY: {{ randAlphaNum 20 | b64enc | quote }}
  DJANGO_DB_PASSWORD: {{ .Values.django.env.db_password | b64enc | quote }}
  QDB_DB_PASSWORD: {{ .Values.django.env.qdb_db_password | b64enc | quote }}
{{ end }}